.title{
    color: #cfb128;
}

.subtitle{
    color: #1847a1;
}

.primary-color, .primary-color:disabled {
    background-color: #1847a1;
    border-color: #cfb128;
    color: #cfb128;
}

.secondary-color, .secondary-color:disabled {
    background-color: #cfb128;
    border-color: #1847a1;
    color: #1847a1;
}

.disconnect{
    background-color: #1847a1;
    border: 1px solid #cfb128;
}